{# empty Twig template #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block block_title_header %}        
            <title>
                    {% block title %}Chez Marie Madeleine {% endblock %}
            </title>
        {% endblock %}
            
            <link rel="shortcut icon" href="{{ asset('favicon.ico')}}" type="image/x-icon" />    
        
        {% block script_css %}
        {% endblock script_css %}
            
        {# CSS Resources #}    
        {% stylesheets 
                filter='?lessphp, ?yui_css, cssrewrite'
                "../web/css/style.css"
                "../web/css/nav_header.css"
                "../web/css/bootstrap.css"
                "../src/Cmm/SiteBundle/Resources/public/css/*.css"
                "../src/Cmm/UserBundle/Resources/public/css/*.css"
                "../web/css/jquery-ui-1.10.4.css"
            
                output='css/style.css'
        %}    
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
         {% endstylesheets %}    
                
         {# Javascript Resources #}       
         {% javascripts 
                filter='?yui_js'
                "../vendor/jquery/jquery/jquery-1.10.2.js"
                "../web/js/jquery-ui-1.10.4.min.js"
                "../web/js/bootstrap.js"
                "../web/js/jquery-form.js"
                "../web/js/form-contact.js"
                "bundles/fosjsrouting/js/router.js"
                "js/fos_js_routes.js"
                "../src/Cmm/SiteBundle/Resources/public/js/*.js"
                "../src/Cmm/UserBundle/Resources/public/js/*.js"
                output='js/script_js.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>   
         {% endjavascripts %}       
           
        
                
                
         {% block script_js %}
                
        {% endblock script_js %}
                
    </head>
    
    <body>  
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                
                    {# BLOCK HEADER #}
                    {% block block_header %}
                    <div id="header" class="row-fluid">
                        <div class="span12">
                            {% block site_name %}
                            <img alt="logo site" src="{{ asset('Resources/logo.png') }}" />
                            <a id="nomSite" href="{{ path('cmm_site_homepage') }}" title="Accueil - Chez Marie Madeleine">Chez Marie Madelaine</a>
                            <p>Crêperie Traditionnelle</p>
                            <address>160 rue Saint-Martin - 75003 - +330612884698</address>
                            {% endblock site_name %}
                        </div>
                    </div>
                    {% endblock block_header %}
        
                
                    <div id="containerBodyAndMenuHeader" class="row-fluid">
                    
                        {% include '::nav_header.html.twig' %}
                        
                        <div class="row-fluid" id="containerBodyLayout">
                            <div class="span8">
                            {% block corps_site %}

                                {### NAVIGATION ###}
                                {% block block_navigation %}
                                <div id="navPage" class="row-fluid">
                                    {% block nav %}
                                        navigation
                                    {% endblock nav %}
                                </div>
                                {% endblock block_navigation %}
                                {### FIN NAVIGATION ###}

                                {### TITRE DE LA PAGE ###}
                                {% block block_title %}
                                <div class="row-fluid">
                                    <div class="">
                                        <h3 id="titlePage">
                                            {% block title_page %}
                                                titre page
                                            {% endblock title_page %}
                                        </h3>
                                    </div>
                                </div>
                                {% endblock block_title %}
                                {### FIN TITRE DE LA PAGE ###}

                                {### DESCRIPTION DE LA PAGE ###}
                                {% block block_description %}
                                <div id="descriptionPage" class="row-fluid">
                                {% block description_page %}
                                    desription page
                                {% endblock description_page %}
                                </div>
                                {% endblock block_description %}
                                {### FIN DESCRIPTION DE LA PAGE ###}

                                {### CONTENU DE LA PAGE ###}
                                {% block block_contenu %}
                                <div id="contenuPage">
                                    {% block contenu_page %}
                                        contenu page
                                    {% endblock contenu_page %}
                                </div>
                                {% endblock block_contenu %}
                                {### FIN CONTENU DE LA PAGE ###}


                                {% endblock corps_site %}
                            </div>
                            
                            <div class="span4" id="menuDroit">
                                {% block block_menu_droit %}
                                    
                                    {% block contenu_menu_rectangle %}
                                        {% include '::menu_droit.html.twig' %}
                                    {% endblock contenu_menu_rectangle %}
                                
                                {% endblock block_menu_droit %}
                            </div>
                           
                        </div>
                        {% include '::footer.html.twig' %}
                    </div>
                </div>
                <div class="span2"></div>
                </div>
            </div>
        </div>
    </body>
</html>
